* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 35px 0;
}

footer {
    margin-top: 15px;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 25px;
}